body{
    width: 1300px;
    margin: auto auto;
}

.google-logo{
    display: block;
    margin: 0 auto;
}

.heading-oversearch{
    margin-bottom: 0;
    text-align: center;
}

.input-search{
    display: block;
    margin: 0 auto;
    width: 300px;
}

.section-btn{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.search-btn {
    cursor: pointer;
}

.lucky-btn{
    cursor: pointer;
}

.container-1{
    background-color: #EEEEEE;
}

.div-1{
    display: inline-block;
    width: 700px;
    background-color: #7EE5DA
}

.div-1-index{
    display: flex;
    justify-content: center;

}


.div-2{
    display: inline-block;
    width: 350px;
    background-color:#70CCC2;
}

.div-2-a{
    display: flex;
    justify-content: center;
}

.div-3{
    display: inline-block;
    width: 800px; 
    text-align: center;
    background-color: #62B3AA;
}

.e-mail{
    width: 220px;
    display: block;
    margin: 0 auto;
}

.subscribe{
    margin-right: 10px;
}

.container-2{
    display: flex;
    justify-content: stretch;
    gap: 5px;
    margin-top: 5px;
}

footer{
    text-align: center;
    font-weight: normal;
}
.padding{
    padding-bottom: 2px
}
.padding2{
    padding-right: 2px
}